version: "3.9"
services:
  jupyter:
    image: lewelyn/cryptoparadise-jupyter
    networks:
      - localstack-net
    ports:
      - "8888:8888"
    volumes:
      - "./work:/home/jovyan/work"
    environment:
      JUPYTER_ENABLE_LAB: "yes"
      FRONT_DNS_NAME: "localhost:3000"
networks:
  localstack-net:
    external: true
    name: localstack-net
